:root{
    --background: #333;
    
    --color:white;

    --body-copy:2rem;

    --gutter:2rem;

    font-family: sans-serif;
}

body{
    background-color: var(--background);
    color: var(--color);

    .content{
        display: flex;
        flex-direction: column;
        gap: var(--gutter);

        .about{
            padding: 1rem;
            background-color: white;
            color: black;
            align-self: start; /*to make the item not take the entire section*/
        }

        .work{
            ul{
                padding-inline: var(--gutter);
                display: grid;
                grid-template-columns: 1fr;
                gap: var(--gutter);
                li{
                    padding: calc(var(--gutter)*2);
                    border: 1rem var(black) solid;
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}


footer{
    background-color: var(--color);
    color: var(--background);
    padding-inline: var(--gutter);
}

@media (width>650px) {

    body{
        .content{
            display: flex;
            flex-direction: row;
             padding: var(--gutter);

            .about{

            }
            
            .work{
                flex-grow: 1;
                
                ul{
                    padding: 0;
                    padding-inline-end: calc(var(--gutter)*2);
                    grid-template-columns: repeat(2, 1fr);
                    gap: var(--gutter);
                    li{
                        border: 1rem var(black) solid;
                        background-color: white;
                    }
            }
            }
        }
    }
}