@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background: #ffffff;
    --proj-background: #ffffff;
    --border: #B9B9B9;
    --text-color: #000000;

    --border-width:0.05rem;
    --border-radius:0.8rem;


    --body-copy:1rem;

    --spacing:0.5rem;

    font-family: "Funnel Sans", sans-serif;

    --h1-size:2.4rem;
    --h2-size:1.4rem;
    --text-size: 1rem;


    --letter-background: #DBDBDB;
}

body{
    background-color: var(--background);
    color: var(--text-color);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding: calc(var(--spacing)*2);
    
    p{
        font-size: 0.9rem;
        font-weight: 300;
        opacity: 0.8;
     }

    
    header{
        grid-row: 3;
        text-align: left;

        h1{
            font-size: var(--h1-size);
            font-weight: 500;
            margin-bottom: var(--spacing);
        }

        .externalLinks{
            margin-block: var(--spacing);
            display: flex;
            gap: 1rem;

            a{
                display: inline-block;
            }
            a::after{
                content: "↗";
            }
        }

        a:hover{
            background-color: #eaeaea;
            font-weight: 400;
        }
        
    }
   

    .content{
        grid-row: 2;
        background-image: url("images/name\ bg\ mobile.svg"); 
        background-color: #ffffff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18rem;
        
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
            

            li{
                justify-items: start;
                
                /* In mobile the description shows as pop up, but in desktop it shows on hover so here we are hiding the desktop version */
                .tagDesktop{
                    display: none;
                }

                dialog{
                        
                        margin: 0 auto;

                        /* Defaults to `position: absolute;`, this centers it: */
                        inset-block-start: 50%;
                        inset-inline-start: 50%;
                        position: fixed; /* In the viewport. */
                        translate: -50% -50%;

                         &::backdrop {
                            background-color: rgb(0 0 0 / 66%); /* A dark overlay. */
                            pointer-events: none; /* Let clicks pass through to our `document` listener. */
                        }
                }
                
                .description{
                    display: flex;
                    flex-direction: column;
                    background-color: var(--proj-background);
                    border: var(--border-width) var(--border) solid;
                    border-radius: var(--border-radius);
                    padding: calc(var(--spacing)*1.2);
                    min-width: 16rem;


                    .closeModal{
                    margin-inline-start: auto;
                    margin-block-end: 0.4rem;
                    }

                    .seeProject{
                    padding-block: 0.5rem;
                    padding-inline: calc(var(--spacing)*2);
                    border-radius: 0.5rem;
                    background-color: #eaeaea;

                    
                    a{
                        display: flex;
                        flex-direction: row; 
                        justify-content: space-between;
                        align-items: center;

                        p{
                            font-size: 1rem;
                            font-weight: 600;
                        }

                        img{
                            max-width: 1.2rem;
                        }
                    }
                }

                
                
                }
                        
                       
                
                
                .tag{
                    background-color: var(--proj-background);
                    padding-inline:calc(var(--spacing)*1.2);
                    padding-block:calc(var(--spacing)/2);
                    border-radius: var(--border-radius);
                    border: var(--border-width) solid var(--border);
                    box-shadow: 0 0.2rem 1rem 0 rgba(131, 131, 131, 0.04);
                    
                    font-size: 1rem;
                    font-weight: 400;
                        
                    /* .description{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    background-color: var(--proj-background);
                    border: var(--border-width) var(--border) solid;
                    border-radius: 0.5rem;
                    padding: calc(var(--spacing));
        
                    .projectInfo{
                            margin-block-start: calc(var(--spacing)*2);
                            margin-block-end: calc(var(--spacing)*3) ;
                            h2{
                                font-size: 1.4rem;
                                font-weight: 600;
                                margin-block-end: 0.2rem;
                            }
                            
                        }

                    .photo{
                        max-width: var(--imgSize);
        
                        img{
                            margin-block-end:var(--spacing);
                        }
                    }
                    } */
                }
                
            }

        }

        
    }

    .link{
        grid-row: 1;
    }

    
}


footer{
    background-color: var(--stamp-bg);
    color: var(--background);
    padding-inline: var(--spacing);
}

@media (width> 650px) {
    :root{
        --spacing:1rem;
        --imgSize: 16rem;

          --body-copy:2rem;

           --h1-size:3rem;
        --h2-size: 1.4rem;
    }

    body{
        

        padding: 2rem;

        header{
            grid-row: 1;
            max-width: 20rem;
        }
        .content{
            display: grid;
             background-image: url("images/name\ bg.svg");
             background-size: 80rem;
            background-position: top;

            grid-template-columns: 1fr;
             padding: var(--spacing);
             width: 100%;


             ul{
                 /* grid-auto-rows: 6rem; Give the implicit tracks a size. */
            /* grid-auto-columns: 1fr; */

            li{

                .tagDesktop{
                    display: block;
                    .description{
                        display: none;
                    }
                }

                .tagDesktop:hover{
                    .description{
                        display: block;
                        position: absolute;
                        max-width: 18rem;
                    }
                }


                .tagMobile{
                    display: none;
                }
            }
                .tag{

                    .description{
                        display: none;
                    }
                    
                }

                .tag:hover{
                    .description{
                        display: block;
                    }
                }
                
                li:nth-child(2) {
                    grid-column: 2;
                    grid-row: 4;
                }

                li:nth-child(3) {
                    grid-column: 5;
                    grid-row: 2;
                }

                li:last-child {
                    grid-column: 6;
                    grid-row: 6;
                }

                .description{
                    
                }
                }
             }


            .about{

            }
            
            .work{
                flex-grow: 1;
                
                ul{
                    padding: 0;
                    padding-inline-end: calc(var(--spacing)*2);
                    grid-template-columns: repeat(2, 1fr);
                gap:calc(var(--spacing)*2);


                    li{
                        a{
                            /* background-color: white; */
                            
                        }

                        /*
                        Wanted to add elivation to card on hover.
                        So I found this https://codepen.io/nefejames/pen/emONEew
                        What is happening is:
                        on hover it is adding a box shadow behind the box and scaling its size by 1.02.
                        */
                        a:hover{
                            transform: scale(1.02);
                            box-shadow: 0 0 0 0.5rem rgb(94, 94, 94);
                        }
                    }
            }
            }
        }
    }
