:root{
    --background: #333;
    
    --color:white;

    --body-copy:2rem;

    --gutter:2rem;

    font-family: sans-serif;
}

body{
    background-color: var(--background);
    color: var(--color);

    .content{
        display: flex;
        flex-direction: column;

        .about{

        }

        .work{
            ul{
                padding: calc(var(--gutter)*2);
                display: grid;
                grid-template-columns: 1fr;
                gap: var(--gutter);
                li{
                    padding: calc(var(--gutter)*2);
                    border: 1rem var(black) solid;
                    background-color: white;
                }
            }
        }
    }
}


footer{
    background-color: var(--color);
    color: var(--background);
    padding-inline: var(--gutter);
}

@media (width>650px) {

    body{
        .content{
            display: flex;
            flex-direction: row;

            .about{

            }
            
            .work{
                
                ul{
                padding: calc(var(--gutter)*2);
                grid-template-columns: repeat(3, 1fr);
                gap: var(--gutter);
                li{
                    padding: calc(var(--gutter)*2);
                    border: 1rem var(black) solid;
                    background-color: white;
                }
            }
            }
        }
    }
}